body{
    background-image: url(17BBEC8A-26F4-40EB-BCF4-707676FBB804_1_105_c.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.278);
    width: 100%;
}